@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-trueWhite text-offBlack dark:bg-black dark:text-white;
  }

  html{scroll-behavior:smooth}

  .disable-scrollbar {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-white bg-opacity-50
    /* @apply hidden */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-20
  }

  h2 {
    @apply font-bold text-5xl my-6;
  }

  .box-red {
    @apply border border-red-600
  }

  strong {
    @apply font-black
  }

  section p {
    @apply text-justify;
  }
}